[Desktop Entry]
Type=Application
Version=1.0
Name=Bestel Tracker
Comment=Start de Bestel Tracker
# We roepen het script direct aan, de Terminal=true zorgt voor het venster
Exec=/bin/bash -l -c "/home/kareltestspecial/a/bestelSolucious/bestel/bestel.sh"
Icon=applications-development
# BELANGRIJK: Dit moet false zijn om het ronddraaien te stoppen
StartupNotify=false
# BELANGRIJK: Dit zorgt dat ChromeOS zelf een terminal venster opent
Terminal=true
Categories=Development;